<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GRCNEW</title>
       	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
       	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/grcstyle2.css" %}" />
    </head>

    <body>

    	<div id="container">

    		<div id="mainBar">
	    		<h1 id="title"><a href="/glarc/">Glasgow Research Connections</a></h1>
				<!--<a href="http://www.gla.ac.uk" target="_blank"><img id="logo" src="{% static "images/logo2.png" %}" alt="the logo"/></a>-->
				<div id="aboutTitle">About</div>	
    		</div>

    		<div id="aboutContent">
    			<p>The data used for this application is obtained from Glasgow University's institutional research repository, Enlighten (eprints.gla.ac.uk)</p>
    			<p></p>

    		</div>
   		

   		</div>
      	


    </body>



</html>   