<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GRC</title>
        <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/grcstyle.css" %}" />
    </head>

    <body>

    	<div id="container">
    		<div id="titleArea">
				<img id="logo" src="{% static "images/logo.png" %}" alt="the logo"/>
				<h1 id="title">Glasgow Research Connections</h1>
    		</div>

    		<div id="mainBar">
    		<ul>
				<li>
					<span>type</span>
					<ul>
						<li>
							Collaboration
							<ul>
								<li data-type="collab" data-name="cswithattribs2">School of Computing Science</li>
								<li>School of Critical Studies</li>
							</ul>
						</li>

						<li>
							Similarity
							<ul>
								<li>School of Computing Science</li>
								<li>School of Critical Studies</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<span>school</span>
					<ul>
						<li>School of Computing Science</li>
						<li>School of Critical Studies</li>
					</ul>
				</li>
				<li>
					<span>options</span>
					<ul>
						<li id="filter">toggle between school members and everybody</li>
						<li id="labels">toggle labels</li>
						<li>
							colours
							<ul>
								<li>something</li>
								<li>something else</li>
							</ul>
						</li>
						<li id="freeze">freeze/defrost</li>
					</ul>
				</li>
				<li>
					<span>metrics</span>
					<ul>
						<li id="bff">Most frequent collaborators</li>
					</ul>
			</ul>


    		<!--
    		<select id="schoolChooser" class="menudrop">  
	            <option value="cswithattribs2"> Computer Science </option>
	            <option value="Adam Smith Business School graph"> Adam Smith Business School </option>
	            <option value="Dental School graph"> Dental School </option>
	            <option value="School of Chemistry graph"> School of Chemistry </option>
	            <option value="School of Critical Studies graph"> School of Critical Studies </option>
	            <option value="School of Culture and Creative Arts graph"> School of Culture and Creative Arts </option>
	            <option value="School of Education graph"> School of Education </option>
	          </select>
    		<select id="typeChooser" class="menudrop">
    			<option value="foobar">Hello world.</option>
    		</select>
    		<select id="options" class="menudrop">
    			<option
    		</select>
    	-->
    	<!--		<ul>
    				<li>
    					<span>graph type</span>
    					<ul>
    						<li>collab</li>
    						<li>similarity</li>
    					</ul>
    				</li>
    				<li>
    					<span>school</span>
    					<ul>
    						<li>School of Computing Science</li>
    						<li>School of Critical Studies</li>
    					</ul>
    				</li>
    				<li>
    					<span>option</span>
    					<ul>
    						<li>toggle between school members and everybody</li>
    						<li>toggle labels</li>
    						<li>colours</li>
    					</ul>
    				</li>
    			</ul> 

    			<input type="text" id="searchBox" placeholder="search for an author">
				-->


    		</div>
<!--
	    	<div id="buttons">
		        <button type="button" id="filter"> click to toggle between school-only and everybody </button>
		        <button type="button" id="freeze"> click to freeze / defrost </button>
		  
		        <button type="button" id="labels"> click to remove / add labels </button>
		        <button type="button" id="bff"> click to see most frequent collaborators </button>
	   
	   		</div>

	-->
	    	
	        <div id="countDiv">

	          <span id="nodeCount"></span>
	          <span id="edgeCount"></span>
	        </div>
	  		
	  		<div id="svgDiv"></div>

	        <div id="infoArea"></div>
   		

   		</div>
      	
      	<script type="text/javascript" src="{% static "js/d3/d3.v3.js" %}"></script>
      	<script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}"></script>
      	<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
    	<script type="text/javascript" src="{% static "js/vizcode.js" %}"></script>
    </body>



</html>   







