<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GRC</title>
       <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/grcstyle.css" %}" />
    </head>

    <body>

    	<div id="container">

    		<div id="mainBar">
	    		<h1 id="title">Glasgow Research Connections</h1>
				<!--<a href="http://www.gla.ac.uk" target="_blank"><img id="logo" src="{% static "images/logo2.png" %}" alt="the logo"/></a>-->
	    		<ul class="menuList">
					<li class="hoverable topItem">
						<span class="hoverable">Visualisation</span>
						<ul>
							<li>
								Collaboration
								<ul>
									{% for cg in collab_graphs %}
										<li>
											<span class="collabListItem clickable" data-type="collab" data-typetext="collaboration network" data-name="{{ cg }}" data-nametext="{{cg}}">
												{{cg}}
											</span>
										</li>
									{% endfor %}
								</ul>
							</li>

							<li class="clickable" id="shortest">Collaboration - Shortest Path</li>	
							<li class="clickable" id="single">Collaboration - Single Author</li>	

							<li>
								Similarity
								<ul>
									<li>School of Computing Science</li>
									<li>School of Critical Studies</li>
								</ul>
							</li> 
						</ul>
					</li>
		
					<li class="topItem">
						<span class="hoverable">Options</span>
						<ul>
							<li>
								Labels
								<ul>
									<li class="labelChoice clickable" id="nameLabels">Names</li>
									<li class="labelChoice clickable" id="idLabels">Enlighten ID</li>
									<li class="labelChoice clickable" id="noLabels">None</li>
								</ul>
							</li>
							<li id="filter" class="clickable">toggle between school members and everybody</li>
							<li>
								colours
								<ul>
									<li class="colourChoice clickable" id="defaultColours">Default Colours</li>
									<li class="colourChoice clickable" id="schoolColours">School Colours</li>
								</ul>
							</li>
							<li id="freeze" class="clickable">freeze/defrost</li>
						</ul>
					</li>
					<li class="topItem">
						<span class="hoverable metricsMenu">Metrics</span>
						<ul id="metricsList">
							<li id="community" class="clickable metricsMenu">Communities</li>
							<li class="metricListItem clickable metricsMenu" id="deg_cent" data-name="degree centrality" data-desc="degree centrality is a measure of bla di bla">
								Degree centrality
							</li>
							<li class="metricListItem clickable metricsMenu" id="between_cent"  data-name="betweenness centrality" data-desc="betweenness centrality is a measure of etc">	Betweenness centrality
							</li>
							<li class="metricListItem clickable metricsMenu" id="close_cent" data-name="closeness centrality" data-desc="closeness centrality is a measure of ...">
								Closeness centrality
							</li>
							<li class="metricsMenu" id="bff">Most frequent collaborators</li>		
						</ul>
					</li>
					<li id="about" class="clickable">About/Help</li>
				</ul>

				<input type="text" id="#authorSearch" placeholder="search for an author"/>
	
					
		
    		</div>

	  		
	  		<div id="svgDiv"></div>

	  		<input type="text" id="searchBox" placeholder="search for a node within this graph"/>

	        <div id="infoArea"></div>
   		

   		</div>
      	
      	<script type="text/javascript" src="{% static "js/d3/d3.v3.js" %}"></script>
      	<script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}"></script>
      	<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
    	<script type="text/javascript" src="{% static "js/vizcode2.js" %}"></script>
    </body>



</html>   







