<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GRCNEW</title>
       	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
       	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/grcstyle2.css" %}" />
    </head>

    <body>

    	<div id="container">

    		<div id="mainBar">
	    		<h1 id="title"><a href="/glarc/">Glasgow Research Connections</a></h1>
				<!--<a href="http://www.gla.ac.uk" target="_blank"><img id="logo" src="{% static "images/logo2.png" %}" alt="the logo"/></a>-->
	    		<ul class="menuList">
					<div id="dropContainer">
						<li class="hoverable topItem">
							Visualisation <span class="droparrow">&#x25BC;</span>
							<ul>
								<li>
									Collaboration
									<ul>
										{% for cg in collab_graphs %}
											<li span class="collabListItem clickable" data-type="collab" data-typetext="collaboration network" data-name="{{ cg }}" data-nametext="{{cg}}">
												<span>
													{{cg}}
												</span>
											</li>
										{% endfor %}
									</ul>
								</li>

								<li class="clickable" id="shortest">Collaboration - Shortest Path</li>	
								<li class="clickable" id="single">Collaboration - Single Author</li>	

								<li>
									Keyword Similarity
									<ul>
										{% for sg in sim_graphs %}
											<li class="collabListItem clickable" data-type="similarity2" data-typetext="keyword similarity network" data-name="{{ sg }}" data-nametext="{{sg}}">
												<span >
													{{sg}}
												</span>
											</li>
										{% endfor %}
									</ul>
								</li>
							</ul>
						</li>
			
						<li class="topItem">
							View <span class="droparrow">&#x25BC;</span>
							<ul>
								<li>
									Labels
									<ul>
										<li class="labelChoice clickable" id="nameLabels">Names</li>
										<li class="labelChoice clickable" id="idLabels">Enlighten ID</li>
										<li class="labelChoice clickable" id="noLabels">None</li>
									</ul>
								</li>
								<li>
									Colours
									<ul>
										<li class="colourChoice clickable" id="defaultColours">Default Colours</li>
										<li class="colourChoice clickable" id="schoolColours">School Colours</li>
									</ul>
								</li>
								<li id="justSchoolFilter" class="clickable">Toggle between school members and everybody</li>
								<li id="freeze" class="clickable">Freeze/Defrost</li>
							</ul>
						</li>
						<li class="topItem">
							Metrics <span class="droparrow">&#x25BC;</span>
							<ul id="metricsList">
								<li id="community" class="clickable metricsMenu">Communities</li>
								<li class="metricListItem clickable metricsMenu" id="deg_cent" data-name="degree centrality" data-desc="Degree centrality refers to the number of direct connections a node has. A high degree centrality indicates that an author collaborates with a lot of different people and is well connected within the network.">
									Degree centrality
								</li>
								<li class="metricListItem clickable metricsMenu" id="between_cent"  data-name="betweenness centrality" data-desc="Betweenness centrality is based on the number of shortest paths between nodes that pass through the node in question. A person with a high betweeness centrality is likely to be influential within the network and can act as a broker between other people.">	Betweenness centrality
								</li>
								<li class="metricListItem clickable metricsMenu" id="close_cent" data-name="closeness centrality" data-desc="Closeness centrality is a measure of the distance between a node and all other nodes in a network. A person with a high closeness centrality tends to never be too far from other people within the network.">
									Closeness centrality
								</li>
								<li class="metricsMenu" id="bff">Most frequent collaborators</li>		
							</ul>
						</li>
						<!--<li id="about" class="clickable">About</li>-->
					</div>
				</ul>

				<!--
				<input type="text" id="kwSearch" placeholder="search for a keyword or phrase"/>
				-->
	
					
		
    		</div>

	  		
	  		<div id="svgDiv"></div>

	  		<input type="text" class="searchBox" id="nodeSearch" placeholder="search for a node within this graph"/>
	  		<span id="searchTip" title="default is a boolean AND search&#10;enter OR between terms for a Boolean OR search&#10;use quote marks around terms to search for exact phrases">?</span><input type="text" class="searchBox" id="kwSearch" placeholder="search for a keyword or phrase"/></div>

	        <div id="infoArea"></div>
	        <div id="buttonArea">
		        <div id="labelDiv"><button type="button" id="labelButton">turn on labels</button></div><br>
		        <div id="freezeDiv"><button type="button" id="freezeButton">freeze graph</button></div><br>
		        <div id="colourDiv"><button type="button" id="colourButton">colour by school</button></div><br>
		        <div id="membersDiv"><button type="button" id="membersButton">show non-school authors</button></div>
	    		<div id="yearDiv">Filter links by year<br><select id="yearChooser"></select></div>
	    	</div>

	        

	        <div id="spinnerDiv"><img id="spinner" src="{% static "images/spinner.gif" %}" alt="loading"/></div>
   		

   		</div>
      	
      	<script type="text/javascript" src="{% static "js/d3/d3.v3.js" %}"></script>
      	<script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}"></script>
      	<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
    	<script type="text/javascript" src="{% static "js/rfvizcode.js" %}"></script>

    </body>



</html>   







