html, body {
  padding:0;
  margin:0;
}

#container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top:0;
}

/*#titleArea {
  position:relative;
  /*height: 70px;*/
/*  overflow:hidden;
  background-color: #003965;
}*/

#logo {
  height: 35%;
  width: 10%;
  /*float: right;
  bottom:100px;*/
  position: absolute;
  top: 15%;
  left: 75%;
}

h1 {
  margin-top:0;
}

#title {
  position:relative;
 /* left: 2%;*/
  padding-left: 5px;
  top: 10%;
  width: 500px;
  font-family: sans-serif;
  color: white;

}

#mainBar {
  position: relative;
  margin:0;
  height: 110px;
  width: 100%;
  /*background-color: #2c3e50;*/
  background-color: #003965;
  font-family: sans-serif;
  color: white;

}


ul { 
  padding: 0;
  margin: 0;
  background: #2c3e50;
}

li { 
  float: left;
  width: 100px;
  padding-left: 5px;
  padding-top:5px;
  /*display: inline; */
  list-style: none;
  position: relative;
}



ul ul { 
  position: absolute; 
  left: 0; 
  top: 100%; 
  display: none; 
}

li:hover > ul { 

  display: block; 
}

li:hover > ul li {
  padding-top: 20px;
  padding-bottom: 5px;
  width: 300px;
}

li:hover > ul li:hover {
  background: #d35400;
}


ul ul ul {
  left: 100%;
  top: 0;
  padding-right:20px;
  overflow-y:auto;
  max-height: 500px;
}

/*.menudrop {
  /* or use display inline */
  /*float:left;
  clear:all;
}*/

/*

/*#buttons {
  clear:all;
}

#filter {
  clear:all;*/
}

/* Is this doing anything? */
#svgArea {
  position: relative;
  /*left:100px;*/
}




#countDiv {
  float:right;
  position:relative;
  
  /*left:75%;
  top: 50%;*/
  /*border:2px solid blue;*/
  /*width: 320px;*/
  font-family: sans-serif;
  font-size: 70%
}

/* #schoolChooser {
  position:relative;
  right: 100px;
  border:2px solid blue;
}*/

#searchBox {
  position:absolute;
  right:5%;
  top:22%;
  height: 5%;
  width: 20%;
  padding-left:5px;
  background-color: #f5f5f5;
  box-shadow: none;
  border:none;
  border-radius: 0;
  outline: none;
}

#infoArea {
  position: absolute;
  right:5%;
  top:30%;
  width: 320px;
  font-family: sans-serif;
  color:white;
  background: #34495e;
  padding: 5px;
  visibility: hidden;
  opacity: 0.8;
  overflow-y:auto;
  max-height: 80%;
}

#infoArea a {
  color:#2ecc71;
}


#close {
  float:right;
  color: #e74c3c;
}

#back {
  color: #e74c3c;
  visibility: hidden;
}

.numCollabs {
  color: #f39c12;
  text-decoration: underline;
}

.displayText {
  font-family: sans-serif;
  font-size: 45px;
  fill: #e0e0e0;
}

.numText {
  font-family: sans-serif;
  fill: #c0c0c0;
}

.keyCircle {
  opacity: 0.8;
}

.keyText {
  font-family: sans-serif;
  fill: #c0c0c0;
}

.clickable {
  cursor: pointer;
}


