html, body {
  padding:0;
  margin:0;
  background-color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
}

#container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top:0;
}


#logo {
  height: 35%;
  width: 10%;
  /*float: right;
  bottom:100px;*/
  position: absolute;
  top: 15%;
  left: 75%;
}

h1 {
  margin-top:0;
}

#title a {
  color: #383838;
  text-decoration: none;
}

#title a:hover {
  color: #a0a0a0;
}


#title {
  position:relative;
 /* left: 2%;*/
  padding-left: 5px;
  top: 10%;
  width: 450px;
  color: white;
  font-size: 20px;
  margin:auto;
  text-align: center;
}

#mainBar {
  position: relative;
  margin:0;
  height: 68px;
  width: 100%;
  /*background-color: #2c3e50;*/
  /*background-color: #003965;*/
  /*background-color: #34495e;*/
  background-color: #f0f0f0;
  color: #a0a0a0;
  border-bottom:1px solid #383838;
  padding-bottom: 0;
}

.menuList {
  width:800px;
  margin: auto;
  margin-top:15px;
  /*border:1px solid green;*/
}

#dropContainer {
  width:690px;
  padding:0;
  margin:auto;
  
  /*display: inline-block;*/
  
}


ul { 
  padding: 0;
  margin: 0;
  /*background-color: #2c3e50;*/
  background-color: white;
}

li { 
  float: left;
  /*width: 120px;*/
  padding-left: 70px;
  padding-right: 70px;
  padding-top:0px;
  margin-top: 0px;
  /*display: inline; */
  list-style: none;
  position: relative;
}

li:hover {
  background-color: white;
  /*color:white;*/
}


ul ul { 
  position: absolute; 
  left: 0; 
  top: 100%; 
  display: none; 
}

li:hover > ul { 
  color: #a0a0a0;
  display: block;
  z-index: 1000; 
}

li:hover > ul li {
  padding-top: 20px;
  padding-bottom: 5px;
  padding-right:0px;
  padding-left:5px;
  width: 300px;
}

li:hover > ul li:hover {
  background: #9edae5;
}


ul ul ul {
  left: 100%;
  top: 0;
  padding-right:0px;
  overflow-y:auto;
  max-height: 500px;
}}

/* Is this doing anything? */
#svgArea {
  position: relative;
  /*left:100px;*/
}





#countDiv {
  float:right;
  position:relative;
  
  /*left:75%;
  top: 50%;*/
  /*border:2px solid blue;*/
  /*width: 320px;*/
  font-size: 70%
}

.searchBox {
  height: 3%;
  width: 15%;
  padding-left:5px;
  /*background-color: #f5f5f5;*/
  background-color: #f0f0f0;
  box-shadow: none;
  border:none;
  border: 1px solid black;
  border-radius: 3%;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

#nodeSearch {
  position:absolute;
  right:5%;
  top:15%;
}


#kwSearch {
  position: absolute;
  right:5%;
  top:20%;
}

#searchTip {
  position: absolute;
  right:21%;
  top:20%;
  font-size: 10px;
}



#infoArea {
  position: absolute;
  right:5%;
  top:25%;
  width: 320px;
  color:#383838;
  /*background-color: #34495e;*/
  background-color: #f0f0f0;
  padding: 5px;
  visibility: hidden;
  opacity: 0.8;
  overflow-y:auto;
  max-height: 80%;
  font-size: 15px;
}

#infoArea a {
  color:#2ecc71;
}


#close {
  float:right;
  /*color: #e74c3c;*/
  color:#FF3030;
}

#back {
  color: #e74c3c;
  visibility: hidden;
}

.numCollabs {
  color: #f39c12;
  text-decoration: underline;
}

#spinnerDiv {
  position:absolute;
  right:5%;
  top: 26%;
  visibility: hidden;
}

.displayText {
  font-size: 20px;
  /*fill: #e0e0e0;*/
  fill:#c0c0c0;
}

.numText {
  font-size: 15px;
  fill: #c0c0c0;
}

.keyCircle {
  opacity: 0.8;
}

.keyText {
  fill: #c0c0c0;
}

.clickable {
  cursor: pointer;
}

.comTitle {
  color:#2ecc71;
}

#backToFull {
  text-decoration: underline;
  color:#2ecc71;
  font-size: 12px;
}

#singleComTextOption {
  text-decoration: underline;
  color:#2ecc71;
  font-size: 12px;
}

#aboutTitle {
  width:200px;
  margin: auto;
  text-align: center;
  margin-top:20px;
}

#yearDiv {
  position:absolute;
  bottom: 60%;
  left:5%;
  font-size: 15px;
  color:#c0c0c0;;
}

#yearChooser {
  color:#c0c0c0;
  background-color: #f0f0f0;
}





