#container {
  margin-left: 5%;
  margin-right: 5%;
}

#titleArea {
  height: 70px;
}

#logo {
  height: 50px;
  width: 35px;
  float: left;
}

#title {
  position:relative;
  left: 2%;
}

#mainBar {
  position: static;
  height: 30px;
  width: 100%;
  background-color: gray;
  color: white;
}


ul { 
  padding: 0;
  margin: 0;
  background: gray;
}

li { 
  float: left;
  width: 100px;
  padding-left: 5px;
  padding-top:5px;
  /*display: inline; */
  list-style: none;
  position: relative; 
}



ul ul { 
  position: absolute; 
  left: 0; 
  top: 100%; 
  display: none; 
}

li:hover > ul { 
 
  display: block; 
}

li:hover > ul li {
  width: 300px;
}

li:hover > ul li:hover {
  background: orange;
}


ul ul ul {
  left: 100%;
  top: 0;
}

/*.menudrop {
  /* or use display inline */
  /*float:left;
  clear:all;
}*/

/*

/*#buttons {
  clear:all;
}

#filter {
  clear:all;*/
}

/* Is this doing anything? */
#svgArea {
  position: relative;
  /*left:100px;*/
}

#infoArea {
  position: absolute;
  right:10px;
  top:120px;
  width: 320px;
}

#countDiv {
  float:right;
  position:relative;
  
  /*left:75%;
  top: 50%;*/
  /*border:2px solid blue;*/
  /*width: 320px;*/
  font-family: sans-serif;
  font-size: 70%
}

/* #schoolChooser {
  position:relative;
  right: 100px;
  border:2px solid blue;
}*/

.numCollabs {
  color: blue;
  text-decoration: underline;
}

#dragtest {
  height: 100px;
  width: 50px;
  border: 1px solid blue;
}

