#container {
  margin-left: 5%;
  margin-right: 5%;
}

#titleArea {
  height: 70px;
}

#logo {
  height: 50px;
  width: 35px;
  float: left;
}

#title {
  position:relative;
  left: 2%;
  font-family: sans-serif;
}

#mainBar {
  position: static;
  height: 30px;
  width: 100%;
  background-color: #2c3e50;
  font-family: sans-serif;
  color: white;
}


ul { 
  padding: 0;
  margin: 0;
  background: #2c3e50;
}

li { 
  float: left;
  width: 100px;
  padding-left: 5px;
  padding-top:5px;
  /*display: inline; */
  list-style: none;
  position: relative; 
}



ul ul { 
  position: absolute; 
  left: 0; 
  top: 100%; 
  display: none; 
}

li:hover > ul { 
 
  display: block; 
}

li:hover > ul li {
  width: 300px;
}

li:hover > ul li:hover {
  background: orange;
}


ul ul ul {
  left: 100%;
  top: 0;
}

/*.menudrop {
  /* or use display inline */
  /*float:left;
  clear:all;
}*/

/*

/*#buttons {
  clear:all;
}

#filter {
  clear:all;*/
}

/* Is this doing anything? */
#svgArea {
  position: relative;
  /*left:100px;*/
}




#countDiv {
  float:right;
  position:relative;
  
  /*left:75%;
  top: 50%;*/
  /*border:2px solid blue;*/
  /*width: 320px;*/
  font-family: sans-serif;
  font-size: 70%
}

/* #schoolChooser {
  position:relative;
  right: 100px;
  border:2px solid blue;
}*/


#infoArea {
  position: absolute;
  right:5%;
  top:140px;
  width: 320px;
  font-family: sans-serif;
  color:white;
  background: #34495e;
  padding: 5px;
  visibility: hidden;
  opacity: 0.8;
  overflow-y:auto;
  max-height: 80%;
}

#close {
  position:relative;
  left:260px;
  color: #e74c3c;
}

.numCollabs {
  color: #f39c12;
  text-decoration: underline;
}

